.about-title {
    font-family: Newsreader-Regular;
}
/* card-container wraps all 4 cards */
.card-container{
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-top: 20px;
    position:static;
    border-radius: 8px;
    height: 600px;
}
/* adjust card text */

/* Customize the Card Directly  */
.card-title {
    font-size: 18px;
}
.card-subtitle {
    font-size: 20px;
    color: #c54620 !important;
}
.card-text {
    margin: auto;
    font-size: 15px;
}
.card {
    display: flex;
    justify-content: space-between;
    height: 750px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    overflow: scroll;
    overflow-x: hidden;
}
.card img {
   display: flex;
   border-radius: 5px;
   justify-content: center;
   width: 18rem;
   border-radius: 5px 5px 0px 0px;
   
}

.card-body {
    text-align: center;
    background-color:#C99B7D;
    border-radius: 0px 0px 5px 5px;
}

.card-body h6{
    font-size: 20px;
    color: #c54620 !important;
}

.card a {
    background-color: #c54620;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
/* End of Card Customization */
