.about-title {
    font-family: Newsreader-Regular;
}

.card {
    display: inline;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin:15px;
}

.card img {
    width: 100%;
   border-radius: 5px;
}

.card-body {
    background-color: #F6DDCC;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 5px;
}

.card-body h6{
    font-size: 20px;
    color: #c54620 !important;
}

.card a {
    background-color: #c54620;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

