.beers-title {
    font-size: 64px;
    font-family: Newsreader-Regular;
    text-align: center;
}
/* wraps the cards */
.beer-container {
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 20px;
    position:static;
}

.beer-container img {
    height: 200px;
    width: 16rem;
}
/* end of beer-container */

/* beer-card is for the beers */
.beer-card {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.beer-card a {
    text-align: center;
}

.beer-card-NavLink {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
    padding: 10px;
}

/* Styling of the Cards is in Aboutus.CSS */

