.home-link {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.home-link a {
  background-color: #c96142;
  color: white;
  border-radius: 8px;
  height: 45px;
  width: 70px;
  padding: 12px;
  text-decoration: none;
  position: relative;
}

.home-link a:hover {
  color: black;
}

.home-images {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  position: relative;
}

.home-images img {
  margin: auto;
  border-radius: 8px;
}

.home-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  position: relative;
}

.home-text img {
  border-radius: 8px;
  float: left;
}

.home-text p {
  flex-wrap: wrap;
  font-size: 25px;
  margin-left: 15px;
}




/* this is the styling for the login page */




.login-info {
  background-image: url("/src/assets/flight.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.login-info a {
  font-family: "Newsreader", serif;
}

.login-info a:hover {
  color: black;
  text-decoration: none;
}

/* this is for the handlesubmit */
.login-info form {
  text-align: center;
  color: #c96142;
  max-width: 300px;
  font-size: 20px;
}

.login-info input[type="email"] {
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.login-info input[type="password"] {
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.login-info label[for="password"] {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* this is the submit button */
.login-info input[type="submit"] {
  margin-bottom: 20px;
  background-color: white;
  color: #c96142;
  border-radius: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* header with the word "login" */
.login-header {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  height: 80px;
  font-weight: bold;
  font-family: ˝ "Newsreader", serif;
  color: black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}




/* this is the start of all the css for signup */




.signup-info {
  background-image: url("/src/assets/beercheer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.signup-info a {
  font-family: "Newsreader", serif;
}

.signup-info a:hover {
  color: black;
  text-decoration: none;
}

/* this is for the handlesubmit */
.signup-info form {
  text-align: center;
  color: #c96142;
  max-width: 300px;
  font-size: 20px;
}

.signup-info input[type="email"] {
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.signup-info input[type="password"] {
  margin-bottom: 20px;
  border-radius: 8px;
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.signup-info label[for="password"] {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

/* this is the submit button */
.signup-info input[type="submit"] {
  margin-bottom: 20px;
  background-color: white;
  color: #c96142;
  border-radius: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


.signup-header {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  height: 80px;
  font-weight: bold;
  font-family: ˝ "Newsreader", serif;
  color: black;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}



/* registration info at the buttom of the login and sign up page */

.registration-sentence {
    color: white;
}

.registration-login {
  color: black;
  text-align: center;
font-weight: bold;
  /* text-decoration: none; */
}

/* .registration-login a:hover {
  color: #c96142;
} */
